<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>TestWebProject</display-name>
    <servlet>
        <servlet-name>AllStopsCoordinatesServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.AllStopsCoordinatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopInformationServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.StopInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopLocationsServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.StopLocationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreationServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.AccountCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInputServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.CheckInputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopDeletionServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.UpdateStopListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteFindingServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.RouteFindingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteGuessingServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.RouteGuessingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteInformationServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.RouteInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDaysServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.ServiceDaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TripInformationServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.TripInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRouteListServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.UpdateRouteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopRoutesServlet</servlet-name>
        <servlet-class>gr.dmst.ISIA.servlets.StopRoutesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllStopsCoordinatesServlet</servlet-name>
        <url-pattern>/allCoordinates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopInformationServlet</servlet-name>
        <url-pattern>/coordinates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopLocationsServlet</servlet-name>
        <url-pattern>/locations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInputServlet</servlet-name>
        <url-pattern>/checkInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreationServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopDeletionServlet</servlet-name>
        <url-pattern>/updateStop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteFindingServlet</servlet-name>
        <url-pattern>/RouteFindingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteGuessingServlet</servlet-name>
        <url-pattern>/RouteGuessingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteInformationServlet</servlet-name>
        <url-pattern>/RouteInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDaysServlet</servlet-name>
        <url-pattern>/ServiceDaysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TripInformationServlet</servlet-name>
        <url-pattern>/TripInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRouteListServlet</servlet-name>
        <url-pattern>/updateRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopRoutesServlet</servlet-name>
        <url-pattern>/routes</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>mainpage.jsp</welcome-file>
    </welcome-file-list>
</web-app>